<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.navigationtest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:label="注册"/>
        <activity android:name=".ui.user.user_info.UserInfoActivity" android:label="个人信息"/>
        <activity android:name=".ui.user.health_info.UserHealthInfoActivity" android:label="健康档案"/>
        <activity android:name=".ui.user.order.UserOrderActivity" android:label="我的挂号"/>
        <activity android:name=".ui.user.collection.UserCollectionActivity" android:label="我的收藏"/>
        <activity android:name=".ui.user.help.UserHelpActivity" android:label="帮助手册"/>
        <activity android:name=".ui.user.audit.AuditCommentActivity" android:label="审核评论"/>
        <activity android:name=".ui.infoboard.ArticleDetailActivity">
            <intent-filter>
                <action android:name="layout.activity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.infoboard.EditArticleActivity">
            <intent-filter>
                <action android:name="layout.activity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>